* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg: #f1f2f5;
}

body {
  font-size: 62.5%;
  background-color: var(--bg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  border: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:focus {
  outline: none;
}

li {
  margin: 1rem 0;
  list-style: none;
  padding: 0.5rem 0;
}

/****************** section:page1 ***********/

.page1 {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

/************* container for the todo list ********/
.container {
  border: 1px solid var(--bg);
  width: 60%;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

/*********** inside the list *************/
.main-head {
  font-size: 1rem;
  margin-bottom: 1rem;
}

/*********** form section */

.addForm {
  border-bottom: 1px solid gray;
  padding-bottom: 0.5rem;
}

.add-input {
  border: none;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  font-size: 1.3rem;
}

.add-input::placeholder {
  font-size: 1rem;
  font-style: italic;
}

.submit-warning {
  font-size: 16px;
  color: red;
  margin-top: 5px;
  display: block;
}

/************* todo-items section  */
.restart,
.enter,
.moreBtn {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.restart {
  background: url('./icons/re-start.png') no-repeat;
  background-size: 1.8rem;
}

.restart:hover {
  animation: spin 2s linear;
}

.enter {
  background: url('./icons/enter.svg') no-repeat;
  background-size: 1.8rem;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 1rem;
}

.moreBtn {
  background: url('./icons/three-dots.png') no-repeat;
  background-size: 1.8rem;
  position: absolute;
  right: 0;
}

.moreBtn:hover {
  background: url('./icons/trash.svg') no-repeat;
  background-size: 1.8rem;
  cursor: pointer;
}

.clear-btn,
.item-text {
  font-size: 1rem;
}

.item-text {
  text-align: start;
  padding: 0.5rem;
  width: 90%;
  border: none;
}

.check {
  transform: scale(1.3);
  cursor: pointer;
}

.scratch {
  text-decoration: line-through;
}

.clear-btn {
  width: 100%;
  border: none;
  background-color: var(--bg);
  padding: 1rem;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: rgb(228, 226, 226);
}
